Source: def2fgd
Maintainer: Roman Chistokhodov <freeslave93@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: def2fgd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: convert .def and .ent to .fgd
 def2fgd converts .def.and .ent files 
 used by GtkRadiant and Netradiant to .fgd 
 used by J.A.C.K. editor.
 